name: CI

on:
  push:  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.1
    - name: check files
      run: ls -ltr  
    - name: Install dependencies
      run: |
        pip install -r requirements.txt




